
// shangci
$cllan:rgb(105,209,233);

// zhuogui
$fs3774:3.774rem;
// origin
$cl:#fbb435;

// baichi
$fs3208:3.208rem;

// 1134
$cl:#787878;



// page2

// vote
$fs:3.4rem;
// fayan
$fs:2.6rem;
$bgcl:#b9e9f5;
// dianji
$fs:2.4rem;
// tousi
$fs:4rem;


// page3

// game
$fs:3.4rem;

// tai
$fs:3.3rem;

// benci
$fs:2.6rem;

// first day
// 3rem;
// 0
// 2rem
// #a6a6a6;
// night
// 2.6rem
// #a6a6a6

// bt
// bg:#99dff0
// one more agin
// bg:#f66f6f
// share
// bg:#fbb435
