@charset 'utf-8';

html {
	font-size:62.5%;

	@media screen and(max-width:480px) {
		font-size:50%;
	}


	box-sizing:border-box;
}
body {
	background-color: rgb(250,250,250);
}
ul {
	padding:0;
}
