html{
	font-size: 62.5%;
}
body{
	max-width:640px;
	margin: auto;
	padding: 0;
	box-sizing:border-box;

}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.tc{text-align:center;}
.cp{cursor:pointer;}