
/*header*/
.head--sy{
	margin-left:$mlr-xs;
	margin-right:$mlr-xs;
	
	position:relative;

	@include media(480px) {
		margin-left:$mlr-md;
		margin-right:$mlr-md;
	}
}
	
	.head--share{
		line-height: 2rem;
		
		.picture{
			position:absolute;
			right:1rem;
			top:0;
			img {
				margin-left:1rem;
			}
			
		@media screen and (max-width:480px) {
			display:none;
		}
		}
		.tel{
			font-size:1.4rem; 
			color:#29b078;
			line-height: 2rem;
		}
	}
	

/**/
// rgb(41,176,120)
		.navbar{
			background-color:$bg-top ;
			border:none; /*border:1px solid black*/
			border-radius: 0;
			margin-bottom: 0;
		}
		.navbar .navication{
			margin-right:5rem;
		}

		.icon-bar{
			background-color: white;
		}
		
		.navbar a,.icon-bar{
			color:white;
		}
		.nav>li>a:focus{
			background-color: rgb(42,176,120);/* #eee */
		}
		.nav li a{
			font-size:1.602rem;
		}
		
		.nav li{
			border-bottom: 0.2rem solid rgb(41,176,120);
			padding-top:1rem;
			padding-bottom:1rem;
		}
		.nav>li>a:focus{
		background-color: rgb(42,176,120);
		}
		.nav li:hover{
			border-bottom-color: white;
		}
		.nav>li>a:hover{
			background-color: rgb(41,176,120); 
		}
		/**/
		.back-img img{
			max-width: 100%;
			height: auto;
		}
		.o{
			padding-left: 0;
			padding-right: 0;
		}